    <div class="modal fade" id="commentRecipe" tabindex="-1" role="dialog" aria-labelledby="addedRecipesLabel">

        <div class="modal-dialog" role="document">

          <div class="modal-content">

              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-title">
                    <h3>{{this.title}} Comments</h3>
                  </div>
                  

              </div>

              <div class="modal-body">
                {{#unless note}}
                  <h4>No Comments Yet</h4>
                {{/unless}}
                <ul class="list-group">
                  {{#each note}}
                    <li class="list-group-item clearfix">
                      <div>
                        <h4 class="pull-left">{{this.comment}}</h4>
                        <button type="btn" class="pull-right glyphicon glyphicon-remove deleteComment" id={{this._id}}></button>
                      </div>
                    </li>
                  {{/each}}
                </ul>
                  <form>

                    <div class="form-group">
                      <label for="itemDescription">Add New Comment</label>
                      <input type="text" class="form-control" id="newCommentAdd" placeholder="Comment...">
                    </div>  

                  </form>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-success newCommentSubmit" id={{this._id}}>Submit</button>
                  </div>

               </div>

          </div>

        </div>

    </div>