	
	<nav class="navbar navbar-toggleable-md navbar-light bg-primary">	  
		<div id="navbarNav">
			<a class="navbar-brand nav-link" href="/">Recipe Scraper</a>
			<div class="pull-right">
			    <a href="/saved">
			        <button class="nav-link btn btn-success" id="savedBtn">Saved Recipes</button>
			    </a>
			    <a href="/recipes">
			        <button class="nav-link btn btn-danger" id="scrapeBtn" data-target="#addedRecipes" data-toggle="modal">Scrape New Recipes</button>
			    </a>
		    </div>
		</div>

	</nav>

	<div class="jumbotron clearfix">
		<div class="jumbotronText">
			<h1>Recipe Scraper</h1>
			<h3>Cookie + Kate Edition</h3>
		</div>
	</div>